# Postgres
POSTGRES_PASSWORD=changeme  # Generate: openssl rand -hex 16

# Temporal versions (check https://hub.docker.com/r/temporalio/server/tags)
TEMPORAL_VERSION=1.26.2
TEMPORAL_UI_VERSION=2.34.0
POSTGRESQL_VERSION=16
